@import "tailwindcss";

/* 1. Rexistramos todas as túas cores personalizadas en Tailwind v4 */
@theme {
  --color-neutral-900: #0A0A0A;
  --color-neutral-700: #171719;
  --color-neutral-600: #2E2E2E;
  --color-neutral-500: #3D3D3D;
  --color-neutral-400: #3D3D3D;
  --color-neutral-300: #454547;
  --color-neutral-200: #9D9D9D;
  --color-neutral-100: #C6C6C6;
  --color-neutral-50:  #FFFFFF;
  
  --color-lime-800: #283300;
  --color-lime-500: #CEF739;
  
  --color-green-500: #42EB05;
  --color-red-500: #FF4141;
}

/* 2. Aplicamos os estilos globais para que afecten a toda a web */
@layer base {
  body {
    background-color: var(--color-neutral-900); /* Aplica o teu fondo negro #0A0A0A */
    color: var(--color-neutral-50);        /* Texto branco por defecto */
    margin: 0;                             /* Elimina as marxes estrañas da pantalla */
  }
}
